{
  "plugins": [
    "transform-es2015-block-scoping",
    "transform-es2015-destructuring",
    "transform-es2015-shorthand-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ],
    }
  }
}
